* {
	margin: 9px;
	padding: 0;
}
body {
	background: rgb(43, 43, 43);
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
}
.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-title {
	display: flex;
	align-items: center;
}
.header-title img {
	width: 32px;
	height: 32px;
}
.header-title h1 {
	color: rgb(255, 255, 255);
	font-family: Space Mono;
	font-size: 28px;
	font-weight: 700;
	text-align: left;
	text-transform: capitalize;
}
.header-nav {
	display: flex;
	align-items: center;
}
.header-nav a {
	color: rgb(255, 255, 255);
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 140%;
	text-align: center;
	margin-left: 50px;
}
.header-nav button {
	display: flex;
	align-items: center;
	border-radius: 20px;
	background: rgb(162, 89, 255);
	border: none;
	padding: 11px 30px;
	color: rgb(255, 255, 255);
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: 0%;
	text-align: center;
	margin-left: 30px;
}
